  <footer class="page-footer teal">
          <div class="footer-copyright teal">
            <div class="container">
            © 2018 Copyright FarmaPet
            <a class="grey-text text-lighten-4 right" href="#!">Farmapet@farmapet.com</a>
            </div>
          </div>
        </footer>
            