<div class="banner">
        <div class="row">
         <div class="col l12 xl12">
           <h1 class="banner-title">Farma Pet</h1>
           <p>Cuidando la salud de tu mascota!</p>
          </div>
        </div>
</div>