  <div class="row random">
    <div class="col l3 xl3 center">
    <%= image_tag("photos/perro1.jpg",class: "responsive-img")  %>
    <h6><strong>Doximicin</strong></h6>
    <h6><strong>$8.990</strong></h6>
    </div>
    <div class="col l3 xl3 center">
    <%= image_tag("photos/gerioox.jpg",class: "responsive-img") %>
    <h6 class="geri"><strong>Gerioox</strong></h6>
    <h6><strong>$17.000</strong></h6>
    </div>
    <div class="col l3 xl3 center">
    <%= image_tag("photos/petever.jpeg",class: "responsive-img") %>
     <h6><strong>Petever</strong></h6>
    <h6><strong>$9.990</strong></h6>
    </div>
    <div class="col l3 xl3 center">
    <%= image_tag("photos/inmuno.jpg",class: "responsive-img") %>
     <h6><strong>Superpet</strong></h6>
    <h6><strong>$5.500</strong></h6>
    </div>
</div>